.navbar {
  padding: 0rem;
}

.header-icons {
  color: #807ee9;
  margin-top: -1rem;
  padding-left: 1rem;
}

.footer-icons {
  color: #807ee9;
  margin-left: -0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 0.3rem;
}

h1 {
  color: #4f4db8;
}

h2 {
  color: #807ee9;
}

h5 {
  margin-bottom: -0.1rem;
}

h6 {
  color: #807ee9;
}

.card {
  background-color: #3f3f3f;
}

.card-text {
  color: #807ee9;
}

.card-title {
  color: #807ee9;
}

.card-body {
  padding: 1rem;
}

.carousel-caption {
  background-color: hsl(0, 0%, 0%, 0.2);
  /* width: 58.1rem; */
  position: absolute;
  bottom: 0px;
  left: 0%;
  z-index: 10;
  padding-top: 2px;
  padding-bottom: 20px;
  /* margin-inline: -11rem; */
  color: #fff;
  text-align: center;
}

.embed-responsive {
  position: relative;
  display: flex;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
