.navbar {
  padding: 0rem;
}

.footer-icons {
  color: #807ee9;
}

h6 {
  color: #807ee9;
}

.card {
  background-color: #3f3f3f;
}

.card-text {
  color: #807ee9;
}

.card-title {
  color: #807ee9;
}
